.wrapper {
    text-align: center;
}

body {
	background-color: #555;
}

.navbar {
	background-color: #ccc;
	border-color: #444;
}

h3 {
	text-align: center;
	color: #ddd;
}
a.titleUnderline {
	text-decoration: underline;
}
h6 {
	color: white;
	font-size:85%;
	background-color: gray;
	text-align: center;	
}
h4 {
	color: #eee;
	text-decoration: underline;
	margin-left: 10px;
}
textarea {
	resize: none
}
div ul {
	display: inline;
	text-align: right;
	color: white;
}
div li {
	float: right;
	display: inline;
	margin-left: 40px;
}
p {
	text-alignment: right;
	color: #ccc;
		margin-left: 10px;

}
a {
	text-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}

.panel-login {
	margin-top: 10px;
	border-color: #bbb;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 7px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;

}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.darkBackground {
	background-color: #333;
}
.googleFormSpan {
	color: #eee;
}
.googleForm {
	background-color: #eee;
	border-radius: 15px;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
div p {
	margin-left: 0px;
	color: #888;
}

.btn {
	margin-left: 10px;
	/*background-color: #777;
*/}
.list-group-item {
	margin-left: -12px;
}
.verticalLine {
    border-left: thick solid #ff0000;
}
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 9997;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #	;
	border-radius:7px; 
	width:550px;
	z-index: 9997;
}


.sidebarJS, .test2 {
	padding-right: 0.6em;
	padding-left: 1.1em;
	padding-top: 20px;
	padding-bottom: 0px; 
	border: 1px solid #CCC;
    border-radius: 1em;
    background: #333;
    color: #333;
}
.jumbotron {
	margin-right: 10px;
	margin-left: 10px;
}
.test2 {
	padding: 0.5em;
	margin-right: 0px;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }

#appendMe .read { 
/*	background-color: #777 !important;
	color: #eee !important;
*/
	background-color: #777 ;
	color: #eee ;
}

#appendMe .response { 
/*	background-color: #777 !important;
	color: #eee !important;
*/
	background-color: #7F00FF ;
	color: #eee ;
}

.read:hover { 
}
.privateEmail {
	float:left;
	padding-top: 40px;
	margin-top: 40px;
}

.privateEmailUser {
	float:left;
	padding-top: 30px;
	margin-top: 30px;
	padding-left: 30px;
	margin-left: 30px;
}
#appendMe .active, #active {
	background-color: #377bb5;
	color: #ffffff;
	border: 1px solid white;
}
div form .createUser, div form .createUser{
	height: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

div form .changePassword {
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;

}

td, th {
    border: 2px solid #cccccc;
    text-align: left;
    padding: 8px;
    display:table-cell;
}
tr:nth-child(even) {
    background-color: #dddddd;
    color:#555;
}
tr:nth-child(odd) {
	background-color: #555;
    color: #dddddd;
}
tbody {
    overflow-y: scroll;    /* Trigger vertical scroll    */
     word-wrap: break-word;
     overflow-wrap: break-word;
  position: absolute;
}

.responseTable { 
  height: 1000px;
  width: 90%;
}

.directiveTable { 
  height: 500px;
}
.reserveTable {
	width:90%;	
}
table  {
	padding-bottom: 50px;
	margin-bottom: 50px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    display:inline-block;
    width: 90%;
    font-size: 14px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyshown {
    /*padding-right: 50px;*/
    /*margin-right: 500px;*/
    border: none;
    height: 10px;
    text-decoration: none;
	font-weight:normal;

    /*overflow: none;*/
    /*padding: 0;*/
    /*position: absolute;*/
    width: 450px;
}